a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    display: inline-block;
}

.logo {
    text-align: center;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    background-color: white;
}

.logo img {
    width: 10rem;
    height: auto;
}

.logo h1 {
    margin-bottom: -10px;
    margin-top: 0;
    padding-top: 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Hnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 65, 65);
    padding: 0.5rem 5%;
    border-radius: 1rem;
    width: 99%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.navLeft {
    display: flex;
    gap: 4rem;
}

.navRight {
    display: flex;
    gap: 4rem;
}

footer {
    border-style: solid;
    border-width: 1px;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.Fnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.Fnav a {
    color: black;
}

footer img {
    width: 150px;
    border: solid;
    margin: 10px;
}